body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(227, 237, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading{
    color: brown;
    text-align: center;
}

.container{

    /* border: 2px solid; */
    height: 88vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 15% 15% 15% 15% 15% ;
    justify-content: space-evenly;
    

}

.boxes{
    /* border: 1px solid; */
    margin-top: 10px;
}

.row1 > select{
    
    padding: 15px 20px;
    border: solid;
    width: 100%;

}

#productPrice , #productDiscount, #productTotal , #totalDiscount, #afterDiscount , #afterGst{
    padding: 15px 20px 20px 20px;
    background-color: white;
    height: 10px;
    border: solid;
}

#addProduct, #generateBill, #discard{
    align-self: center;
    margin-top: 20px;
    height: 80%;
    width: 100%;
    background-color: red;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#generateBill{
    background-color: rgb(0, 68, 45);
}

#discard{
    background-color: rgb(55, 0, 106);
}

#billDetail{
    background-color: rgb(215, 215, 215);
    margin-top: 20px;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

#billDetail > #main , #billDetail > p{
    color: brown;
    font-weight: 600;
    text-align: center;
}

#billDetail > #main{
    font-size: 20px;
    color: black;
    text-shadow: 1px 1px 20px rgb(103, 103, 103);
}

#summary > div{
    display: grid;
    font-weight: 100;
    color: rgb(145, 0, 0);
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 10px;    
}

#summaryHeadings{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}